*.zip
business_data_science/*.jpg
*.pdf
*.csv
*.mp3
*.xlsx
NLP/tensorflow-ml-nlp-tf2/
.idea/
crawling/selenium/Lib/
crawling/selenium/Scripts/
/UDEMY_TSA_FINAL/tsa_course_env.yml
/UDEMY_TSA_FINAL/Pierian_Data_Logo.png
/UDEMY_TSA_FINAL/00-Intro-to-Time-Series/00-Time-Series-Basics.ipynb
/UDEMY_TSA_FINAL/00-Intro-to-Time-Series/01-Datetime-Basics.ipynb
/UDEMY_TSA_FINAL/01-NumPy/00-NumPy-Arrays.ipynb
/UDEMY_TSA_FINAL/01-NumPy/01-NumPy-Indexing-and-Selection.ipynb
/UDEMY_TSA_FINAL/01-NumPy/02-NumPy-Operations.ipynb
/UDEMY_TSA_FINAL/01-NumPy/03-NumPy-Exercises.ipynb
/UDEMY_TSA_FINAL/01-NumPy/04-NumPy-Exercises-Solutions.ipynb
/UDEMY_TSA_FINAL/01-NumPy/axis_logic.png
/UDEMY_TSA_FINAL/01-NumPy/numpy_indexing.png
/UDEMY_TSA_FINAL/02-Pandas/00-Intro-to-Pandas.ipynb
/UDEMY_TSA_FINAL/02-Pandas/01-Series.ipynb
/UDEMY_TSA_FINAL/02-Pandas/02-DataFrames.ipynb
/UDEMY_TSA_FINAL/02-Pandas/03-Missing-Data.ipynb
/UDEMY_TSA_FINAL/02-Pandas/04-Groupby.ipynb
/UDEMY_TSA_FINAL/02-Pandas/05-Operations.ipynb
/UDEMY_TSA_FINAL/02-Pandas/06-Data-Input-and-Output.ipynb
/UDEMY_TSA_FINAL/02-Pandas/07-Pandas-Exercises.ipynb
/UDEMY_TSA_FINAL/02-Pandas/08-Pandas-Exercises-Solutions.ipynb
/UDEMY_TSA_FINAL/02-Pandas/example.csv
/UDEMY_TSA_FINAL/02-Pandas/Excel_Sample.xlsx
/UDEMY_TSA_FINAL/03-Pandas-Visualization/00-Pandas Built-in Data Visualization.ipynb
/UDEMY_TSA_FINAL/03-Pandas-Visualization/01-Customizing-Plots.ipynb
/UDEMY_TSA_FINAL/03-Pandas-Visualization/02-Pandas-Data-Visualization-Exercise.ipynb
/UDEMY_TSA_FINAL/03-Pandas-Visualization/03-Pandas-Data-Visualization-Exercise-Solutions.ipynb
/UDEMY_TSA_FINAL/03-Pandas-Visualization/df1.csv
/UDEMY_TSA_FINAL/03-Pandas-Visualization/df2.csv
/UDEMY_TSA_FINAL/03-Pandas-Visualization/df3.csv
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/00-Datetime-Index.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/01-Time-Resampling.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/02-Time-Shifting.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/03-Rolling-and-Expanding.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/04-Visualizing-Time-Series-Data.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/05-Pandas-Time-Series-Exercises-SET-ONE.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/06-Pandas-Time-Series-Exercises-SET-ONE-Solutions.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/07-Time-Series-with-Pandas-Project-Exercise-SET-TWO.ipynb
/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas/08-Time-Series-with-Pandas-Project-Exercise-SET-TWO-Solutions.ipynb
/UDEMY_TSA_FINAL/05-Time-Series-Analysis-with-Statsmodels/00-Introduction-to-Statsmodels.ipynb
/UDEMY_TSA_FINAL/05-Time-Series-Analysis-with-Statsmodels/01-ETS-Decomposition.ipynb
/UDEMY_TSA_FINAL/05-Time-Series-Analysis-with-Statsmodels/02-EWMA-Exponentially-Weighted-Moving-Average.ipynb
/UDEMY_TSA_FINAL/05-Time-Series-Analysis-with-Statsmodels/03-Holt-Winters-Methods.ipynb
/UDEMY_TSA_FINAL/05-Time-Series-Analysis-with-Statsmodels/04-Statsmodels-Time-Series-Exercises.ipynb
/UDEMY_TSA_FINAL/05-Time-Series-Analysis-with-Statsmodels/05-Statsmodels-Time-Series-Exercises-Solutions.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/00-Introduction-to-Forecasting.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/00-Introduction-to-Forecasting-Revised.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/01-ACF-and-PACF.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/02-Autoregression-AR.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/03-Descriptive-Statistics-and-Tests.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/04-Choosing-ARIMA-Orders.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/05-ARMA-and-ARIMA.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/06-SARIMA.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/07-Exogenous-Variables-SARIMAX.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/08-Vector-AutoRegression-VAR.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/09-Vector-AutoRegressive-Moving-Average-VARMA.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/10-Forecasting-Exercises.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/11-Forecasting-Exercises-Solutions.ipynb
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/.ipynb_checkpoints/
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/00-Keras-Basics.ipynb
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/01-RNN-Example.ipynb
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/02-RNN-Exercise.ipynb
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/03-RNN-Exercise-Solutions.ipynb
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/04-Facebooks-Prophet-Library.ipynb
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/my_rnn_model.h5
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/solutions_model.h5
/UDEMY_TSA_FINAL/07-Deep-Learning-Models/Untitled2.ipynb
/UDEMY_TSA_FINAL/08-Prophet-Library/.ipynb_checkpoints/
/UDEMY_TSA_FINAL/08-Prophet-Library/00-Intro-to-Facebook-Prophet.ipynb
/UDEMY_TSA_FINAL/08-Prophet-Library/01-Prophet-Forecast-Evaluations.ipynb
/UDEMY_TSA_FINAL/08-Prophet-Library/02-Prophet-Trend-Changes.ipynb
/UDEMY_TSA_FINAL/08-Prophet-Library/04-Changing-Seasonality.ipynb
/UDEMY_TSA_FINAL/09-NO-VIDEO-Bonus-Notebooks/.ipynb_checkpoints/
/UDEMY_TSA_FINAL/09-NO-VIDEO-Bonus-Notebooks/Datasets-Used-In-This-Course.ipynb
/UDEMY_TSA_FINAL/09-NO-VIDEO-Bonus-Notebooks/filename.png
/UDEMY_TSA_FINAL/09-NO-VIDEO-Bonus-Notebooks/Matplotlib-Concepts-Lecture.ipynb
/UDEMY_TSA_FINAL/09-NO-VIDEO-Bonus-Notebooks/More-Datetime-Tricks.ipynb
/UDEMY_TSA_FINAL/09-NO-VIDEO-Bonus-Notebooks/More-Pandas-Visualization-Tricks.ipynb
/UDEMY_TSA_FINAL/06-General-Forecasting-Models/.ipynb_checkpoints/00-Introduction-to-Forecasting-Revised-checkpoint.ipynb
